In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from dateutil.parser import parse
import pandas as pd
from decouple import config
import re
import numpy as np

In [2]:
#intializing engine
file_path = 'db_creds.yaml'
json_file_path = config('JSON_FILE_PATH')
connector = DatabaseConnector()
credentials = connector.read_db_creds(file_path)
engine1, engine2 = connector.init_db_engine(credentials)
extractor = DataExtractor()
date_details = extractor.retrieve_json_data(json_file_path)

In [3]:
df = date_details.copy()

In [4]:
df.head(50)

   timestamp month  year day time_period                             date_uuid
0   22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1   22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2   10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3   17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4   22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
5   02:03:25     8  2002   2  Late_Hours  cea14ebe-06b2-4cee-8394-972101419375
6   20:41:58     1  1993  14     Evening  5b72f016-349c-4649-aea0-bcc4fd1b9ee6
7   22:36:19     3  2006  15     Evening  5d598d23-ee71-4fc9-a895-77fd3891a7c4
8   18:06:15    12  1994  14     Evening  ad50dbd6-b736-4ffe-a745-6ebed29e4cdf
9   16:12:22    11  1994   1      Midday  92fc92a3-c4a0-49a4-a2ee-40a37f9d11dc
10  21:21:31    11  1994  21     Evening  21451b39-3bac-4106-b238-8d78c6a08692
11  19:23:21     8  2004   3     Evening  08f17ff8-8595-4c23-a0b4-4a16ffd5ec27
12  20:46:08    11  2015  16     Evening  940cb999-6d4f-480b-9933-3465353c4caf
13  19:59:46     7  2008  25     Evening  9f698beb-8bf6-4b87-8301-3e3579264031
14  09:30:07     2  2006  10     Morning  b87d2eb2-8d05-4961-bc27-2ba7d1022d5a
15  20:56:48     3  2021  17     Evening  cd6a92c4-77f7-4a61-9665-85d9c3026b35
16  23:59:25     7  2018  12     Evening  503ba9b2-99bc-4601-92dc-54ece4ad64b9
17  19:13:58    11  2009  23     Evening  b7436486-0d59-46b9-bd92-091fa3fca022
18  20:07:37    11  2006  26     Evening  b9018015-cb5b-4f57-abbb-5e2088aaf21b
19  16:33:01     9  2020  15      Midday  a360d20d-befd-40f3-90df-bda108a05546
20  20:31:35     8  1994  24     Evening  a495c2ae-9952-4274-b8d1-eaca990ef8e6
21  22:18:05     9  2015  26     Evening  db234d23-d4da-455e-ba21-c4ada6625c32
22  14:13:38     7  2017  18      Midday  eea4ccbf-3767-4c4f-bf6d-f4867dfbf4ec
23  08:04:26    10  2019   6     Morning  4f340f2d-ea15-4b75-bfc4-5872dafcc152
24  13:11:02     2  2021   4      Midday  4c255366-8487-4f53-947e-8ef884bdc9f5
25  22:54:09     2  2000   3     Evening  626a359f-8ec8-4a71-8c01-a3ca7a640aa7
26  18:54:24     7  2012   2     Evening  58d7833b-0047-4054-9953-1d97d4e36be4
27  12:44:15     4  2006  11      Midday  06919f70-0641-46b0-adb1-d88f62c837d1
28  05:46:03    10  1993  22  Late_Hours  6acb0160-0a0b-42f1-b8bb-989cb614b71e
29  19:19:15    11  2021  14     Evening  fd6bb77d-3d0c-4d9c-9c7c-126d588fb705
30  18:05:15     5  2007  17     Evening  015eedc6-87f3-4973-bc43-f951a1eeef28
31  19:55:53    12  1997  16     Evening  3695cbb4-c3f1-4745-8d01-4606df391119
32  06:24:55     8  2018  12     Morning  aeb0bf1e-1fcc-449b-b5d6-c7185d20b6e3
33  19:45:37     3  2013   7     Evening  0582f5be-c51a-43ae-92cc-22a39aec5f0b
34  14:48:44     7  2006  23      Midday  d1857d36-d342-4626-8ea9-849156d13b08
35  18:29:58     6  2010  30     Evening  ae1b1323-9fa7-467e-a3fb-816d748c4b2f
36  20:58:24     8  1995   7     Evening  58a47e39-6a6c-422e-a867-5c404b2afc51
37  21:34:57    10  2008  15     Evening  0f284b3f-d145-472a-beca-421a68733ba1
38  22:44:52     7  2005  15     Evening  ce4c2d75-d66c-4710-98c5-74ec86764556
39  19:15:07    12  2021  14     Evening  46eb96ac-65cd-449d-b489-ccdcfe3f6c46
40  19:43:01     7  2004   7     Evening  9379cf5a-1387-4c57-8c75-dcf61765d369
41  21:13:19     3  2007   3     Evening  29e1b6bf-1ad2-45e7-bce5-f3fce45143fe
42  09:18:05     8  2008   8     Morning  175764bc-1f57-4518-96c6-542ecc0d75fa
43  22:24:12     3  2005   7     Evening  ef6bd57f-4ee8-413f-a17a-d2f65ec2c01b
44  16:06:58     8  2012  30      Midday  b21eca1a-e840-4899-8af3-757ab680c6f0
45  22:28:54     6  1994  14     Evening  4f4297b1-d9d7-4859-9973-8128299e535e
46  03:51:11     3  2015   1  Late_Hours  f5f392ca-db0b-4edd-ae04-24d0a67e17c9
47  14:18:12     9  1999  13      Midday  b03a77d7-ee2a-4308-b21d-f43bfb7894cd
48  18:22:27     3  2003  15     Evening  d87bd606-c49c-4440-b910-8ace3902fc25
49  23:55:48     7  2005   4     Evening  9ef32f84-ade0-470c-8f42-88525c40a743

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120161 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120161 non-null  object
 1   month        120161 non-null  object
 2   year         120161 non-null  object
 3   day          120161 non-null  object
 4   time_period  120161 non-null  object
 5   date_uuid    120161 non-null  object
dtypes: object(6)
memory usage: 6.4+ MB

In [6]:
df.timestamp = pd.to_datetime(df.timestamp, errors = 'coerce' , infer_datetime_format= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20556\196983733.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.timestamp = pd.to_datetime(df.timestamp, errors = 'coerce' , infer_datetime_format= True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_20556\196983733.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.timestamp = pd.to_datetime(df.timestamp, errors = 'coerce' , infer_datetime_format= True)

In [7]:
df.timestamp

0        2024-03-06 22:00:06
1        2024-03-06 22:44:06
2        2024-03-06 10:05:37
3        2024-03-06 17:29:27
4        2024-03-06 22:40:33
                 ...
120156   2024-03-06 22:56:56
120157   2024-03-06 18:25:20
120158   2024-03-06 18:21:40
120159   2024-03-06 19:10:53
120160   2024-03-06 21:17:12
Name: timestamp, Length: 120161, dtype: datetime64[ns]

In [8]:
df.timestamp.isna().mean()*100

0.03162423748137915

In [9]:
df.month.value_counts()

month
7             10284
1             10249
8             10225
5             10150
10            10130
12            10119
3             10119
6              9965
11             9867
4              9755
9              9752
2              9508
NULL             15
9P3C0WBWTU        1
W6FT760O2B        1
DOIR43VTCM        1
FA8KD82QH3        1
ZRH2YT3FR8        1
03T414PVFI        1
FNPZFYI489        1
67RMH5U2R6        1
J9VQLERJQO        1
2VZEREEIKB        1
K9ZN06ZS1X        1
SAT4V9O2DL        1
EB8VJHYZLE        1
22JSMNGJCU        1
4FHLELF101        1
DGQAH7M1HQ        1
3ZZ5UCZR5D        1
YULO5U0ZAM        1
LZLLPZ0ZUA        1
NF46JOZMTA        1
9GN4VIO5A8        1
1YMRDJNU2T        1
GYSATSCN88        1
Name: count, dtype: int64

In [15]:
gibberish_vals = ['9P3C0WBWTU', 'W6FT760O2B', 'DOIR43VTCM', 'FA8KD82QH3', 'ZRH2YT3FR8', '03T414PVFI', 'FNPZFYI489', '67RMH5U2R6', 'J9VQLERJQO', '2VZEREEIKB', 'K9ZN06ZS1X', 'SAT4V9O2DL', 'EB8VJHYZLE', '22JSMNGJCU', '4FHLELF101', 'DGQAH7M1HQ', '3ZZ5UCZR5D', 'YULO5U0ZAM', 'LZLLPZ0ZUA', 'NF46JOZMTA', '9GN4VIO5A8', '1YMRDJNU2T', 'GYSATSCN88']
df1 = df[~df.month.isin(gibberish_vals)]
df1

,timestamp,month,year,day,time_period,date_uuid
0,2024-03-06 22:00:06,9,2012,19,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,2024-03-06 22:44:06,2,1997,10,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,2024-03-06 10:05:37,4,1994,15,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,2024-03-06 17:29:27,11,2001,6,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,2024-03-06 22:40:33,12,2015,31,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...,...,...,...,...,...,...
120156,2024-03-06 22:56:56,11,2022,12,Evening,d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157,2024-03-06 18:25:20,5,1997,31,Evening,f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158,2024-03-06 18:21:40,9,2011,13,Evening,4a3b9851-52e1-463c-ac81-1960f141444e
120159,2024-03-06 19:10:53,7,2013,12,Evening,64974909-0d4b-42a2-822a-73b5695e8bfb
120160,2024-03-06 21:17:12,3,2008,18,Evening,55c228c7-14ee-4d46-99a9-01dfc57d1adf

In [16]:
df1.month.value_counts()

month
7       10284
1       10249
8       10225
5       10150
10      10130
12      10119
3       10119
6        9965
11       9867
4        9755
9        9752
2        9508
NULL       15
Name: count, dtype: int64

In [17]:
df1.isna().mean()*100

timestamp      0.012486
month          0.000000
year           0.000000
day            0.000000
time_period    0.000000
date_uuid      0.000000
dtype: float64

In [18]:
df1.replace('NULL', float("NaN"), inplace= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20556\1734565252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace('NULL', float("NaN"), inplace= True)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120138 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  datetime64[ns]
 1   month        120123 non-null  object
 2   year         120123 non-null  object
 3   day          120123 non-null  object
 4   time_period  120123 non-null  object
 5   date_uuid    120123 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 6.4+ MB

In [20]:
df1.dropna(inplace= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20556\2643716341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace= True)

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120123 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  datetime64[ns]
 1   month        120123 non-null  object
 2   year         120123 non-null  object
 3   day          120123 non-null  object
 4   time_period  120123 non-null  object
 5   date_uuid    120123 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 6.4+ MB

In [34]:
df1.time_period = df1.time_period.astype('category')

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20556\1433685179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.time_period = df1.time_period.astype('category')

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120123 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  datetime64[ns]
 1   month        120123 non-null  object
 2   year         120123 non-null  object
 3   day          120123 non-null  object
 4   time_period  120123 non-null  category
 5   date_uuid    120123 non-null  object
dtypes: category(1), datetime64[ns](1), object(4)
memory usage: 9.6+ MB